$sizeh1: 80px;
$sizeh2:50px;
// $sizecode
.wrapper{
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.wrapper__section1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    h1{
        font-family: Arial;
        font-weight: 600;
        font-size: $sizeh1;
    }
}

.wrapper__section2{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #2B303B;
    .wrapper__section2-left{
        padding: 10px;
        width: 50%;
        border-right: 3px solid #fff;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        h2{
            text-align: center;
            font-size: $sizeh2;
            margin-bottom: 30px;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
        }
       code{
        color:#fff;
        font-size: 40px;
        line-height: 1.5;
        .import{
            color: #B48EAD;
        }
        .artibut{
          color: #BF5F5A;
        }
        .select{
          color: #A3BE89;
        }
        .render{
            color: #96B5B4;
        }
        .mode{
            color:#EBCB76;
        }
        .renderskop{
           color: #FFD700;
        }
        .renderskop2{
           color: #DA70D6;
        }
       }
    }
    .wrapper__section2-rigth{
        padding: 10px;
        width: 50%;
        overflow-y: auto;
        h2{
            text-align: center;
            font-size: $sizeh2;
            margin-bottom: 30px;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
        }
        code{
            color:#fff;
            font-size: 40px;
            line-height: 1.5;
            .import{
                color: #B48EAD;
            }
            .artibut{
              color: #BF5F5A;
            }
            .select{
              color: #A3BE89;
            }
            .render{
                color: #96B5B4;
            }
            .mode{
                color:#EBCB76;
            }
            .renderskop{
               color: #FFD700;
            }
            .renderskop2{
               color: #DA70D6;
            }
        }
    }
}

.wrapper__section3{
    padding: 20px;
    width: 100%;
    height: 100vh;
    h2{
        text-align: center;
        font-size: $sizeh2;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .wrapper__section3-top{
        margin-bottom: 30px;
        button{
            background-color: #fff;
            width: 300px;
            height: 50px;
            display: flex;
            align-items:center;
            justify-content: center;
            border:1px solid black;
            margin-bottom: 10px;
            font-size: 20px;
            font-family: Arial;
        }
      span{
        width: 200px;
        height: 50px;
        font-size: 20px;
        font-family: Arial;
      }
      .color{
        color: orangered;
      }
    }
    .wrapper__section3-bottom{
        button{
            background-color: #fff;
            width: 300px;
            height: 50px;
            display: flex;
            align-items:center;
            justify-content: center;
            border:1px solid black;
            margin-bottom: 10px;
            font-size: 20px;
            font-family: Arial;
        }
      span{
        width: 200px;
        height: 50px;
        font-size: 20px;
        font-family: Arial;
      }
      .color{
        color: orangered;
      }
    }
}

.wrapper__section4{
    width: 100%;
    height: 100vh;
    border:1px solid black;
    overflow-y: hidden;
    .wrapper__section4-content{
        width: 100%;
        height: 100%;
        display: flex;
    }
    h2{
        text-align: center;
        font-size: $sizeh2;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        margin-bottom: 10px;
    }  
    .wrapper__section4-left{
       width: 50%;
       border:1px solid black;
       padding: 10px;
       button{
        background-color: #fff;
        width: 300px;
        height: 50px;
        display: flex;
        align-items:center;
        justify-content: center;
        border:1px solid black;
        margin-bottom: 10px;
        font-size: 20px;
        font-family: Arial;
    }
    h3{
        font-size: 20px;
        font-family: Arial; 
    }
    }
    .wrapper__section4-rigth{
       width: 50%;
       border:1px solid black;
       padding: 10px;
    }
}
.wrapper__section5{
    padding: 20px;
    width: 100%;
    height: 100vh;
    .wrapper__section5-content{
        display: flex;
        justify-content: center;
    }
    h2{
        text-align: center;
        font-size: $sizeh2;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        margin-bottom: 30px;
    } 
    .list1{
        margin-right: 50px;
        & :nth-child(2){
            color: red;
        }
    li{
        margin-bottom: 20px;
        list-style-type: disc;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    }
    .list2{
        margin-left: 50px;
        li{
            margin-bottom: 20px;
            list-style-type: disc;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            color: #A3BE89;
        }
        
    }
    .search__container{
        width: 900px;
        height: 100vh;
        margin:30px auto;
        border:2px solid black;
        input{
            border:1px solid black;
            width: 100%;
            height: 50px;
        }
        .search__option{
            height: 300px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            span{
                margin-bottom: 10px;
            }
        }
    }
}



.lazy{
    font-size: 20px;
    font-family: Arial; 
    color: orangered;
}